
%li.optional__btn--like
  -if user_signed_in? && Favorite.exists?(user_id: current_user.id, item_id: item.id) 
    = link_to(item_favorite_path(@item, item.id), method: :delete, remote: true) do
      .optional__btn--like__favorite
        %span お気に入り
        = icon('fa', 'star')
        %span 
          = @item.favorites.count
  -else 
    = link_to(item_favorites_path(@item), method: :post, remote: true) do
      .optional__btn--like__unfavorite
        %span お気に入り
        = icon('far', 'star')
        %span 
          = @item.favorites.count